<!DOCTYPE html>
<html>
  <body>
    <div class="population-entry-dialog">
      <textarea class="input-block-level population-entry-text" style="height: 375px;" placeholder="Paste in any list of card swipes, Banner IDs, usernames, or email addresses."></textarea>
      <p class="pull-right">
        <button class="btn population-entry-cancel"><i class="icon-remove"></i> Cancel</button>
        <button class="btn btn-primary population-entry-done"><i class="icon-white icon-ok"></i> Add Members</button>
      </p>
    </div>
  </body>
</html>
