<!DOCTYPE html>
<html>
  <body>
    <div class="row" id="templateState">
      <div class="span12">
        <h1>Message Template</h1>
        <p class="lead">Select a message template from the list below, or create a new one.</p>
      </div>
      <div class="span3">
        <ul class="nav nav-list well">
          <li class="active"><a href="#">New Template...<br><small>Not Yet Created</small></a></li>
          <li><a href="#">Template 1<br><small>Modified 13 Nov 2012</small></a></li>
          <li><a href="#">Template 2<br><small>Modified 9 Jan 2013</small></a></li>
          <li><a href="#">Template 3<br><small>Modified 10 Dec 2012</small></a></li>
        </ul>
      </div>
      <div class="span9">
        <div id="template-loading">
          <h2>Loading Template...</h2>
          <div class="progress progress-striped active" id="template-progress">
            <div class="bar" style="width: 100%;"></div>
          </div>
        </div>
        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn" href="#"><i class="icon-bold"></i></a>
            <a class="btn" href="#"><i class="icon-italic"></i></a>
            <a class="btn" href="#"><i class="icon-globe"></i></a>
          </div>
        </div>
        <textarea class="input-block-level" placeholder="Begin typing here"></textarea>
      </div>
    </div>
  </body>
</html>
