<html>
  <body>
    <form>
      <p class="pull-right">
      <a href="#" class="btn template-editor-save"><i class="icon-upload"></i>
        <span class="template-editor-unsaved">Save Changes</span>
        <span class="template-editor-saved">Saved</span>
        <span class="template-editor-saving">Saving...</span>
        </a>
      </p>
      <div class="input-append">
        <input class="span4" id="template-title" type="text" placeholder="Unnamed" value="<%=title%>">
        <span class="add-on">Template Name</span>
      </div>
      <div id="template-content" contenteditable="true"><%=content%></div>
    </form>
  </body>
</html>
