<!DOCTYPE html>
<html>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a data-view="welcome" class="brand spaminator-link" href="#">Spaminator</a>
        <ul class="nav">
          <li><a data-view="population" class="spaminator-link" href="#">Select Population</a></li>
          <li><a data-view="template" class="spaminator-link" href="#">Select Template</a></li>
          <li><a data-view="review" class="spaminator-link" href="#">Review and Test</a></li>
          <li><a data-view="send" class="spaminator-link" href="#">Send</a></li>
          <li><a data-view="report" class="spaminator-link" href="#">Report</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a data-view="history" class="spaminator-link" href="#">View Previous Spaminations</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
