<!DOCTYPE html>
<html>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" id="switch-welcome" href="#">Spaminator</a>
        <ul class="nav">
          <li><a id="switch-population" href="#">Select Population</a></li>
          <li><a id="switch-template" href="#">Select Template</a></li>
          <li><a id="switch-confirmation" href="#">Confirmation</a></li>
          <li><a id="switch-report" href="#">Email Report</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a id="switch-history" href="history.html">View Previous Spaminations</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
