<!DOCTYPE html>
<html>
  <body>
    <div class="row">
      <div class="span12">
        <p class="pull-right">
          <a href="#" class="btn btn-large spaminator-next spaminator-link" data-view=".next">Step 2: Message Template <i class="icon-arrow-right icon-white"></i></a>
        </p>
        <h1>Step 1: Create a Population</h1>
        <p class="lead">Import population members by Card Swipe, Banner ID, Username, or Email Address.</p>
      </div>
    </div>
    <hr>
    <div id="spaminator-subview"></div>
  </body>
</html>
