<!DOCTYPE html>
<html>
  <body>
    <div class="row">
      <div class="span12">
        <h1>Step 3: Review and Send</h1>
        <p class="lead">Please look over the information below to make sure it is correct.  You can also send yourself a test email before firing off to the entire population.</p>
        <p style="margin: auto; text-align: center;">
          <a href="#" class="btn btn-large spaminator-next spaminator-link" data-view="template">Send Emails <i class="icon-arrow-right icon-white"></i></a>
        </p>
      </div>
    </div>
  </body>
</html>
